* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(160, 150, 150, 0.377);
}
.container-2 {
    display: flex;
}
#main-heading{
    text-align: center;
    margin-right: 50px;
}

.grid-container {
    display: grid;
    height: 512px;
    width: 512px;
    background-color: whitesmoke;
    border-color:rgba(0, 0, 0, 0.300);
    border-radius: 16px;
    padding: 30px;
    background-clip: padding-box;
    box-shadow: 0 0 10px #000000;
}

#cell {
    border: 1px solid rgba(0, 0, 0, 0.030);
    
    
}

.buttons{
    display: flex;
    justify-content: center;
    height: 5;
    padding: 10px 16px;
    margin-top: 38px;
    flex-direction: column;
    gap: 16px;
    border-color: rgba(0, 0, 0, 0.300);

}

.buttons button {
    border-style: none;
    background-color: rgba(255, 255, 255, 0.864);
    border-radius: 16px;
    padding: 10px;
    box-shadow: 0 0 3px;
    color: rgba(0, 0, 0, 0.500);

}
button:hover {
    background-color: rgba(161, 138, 138, 0.3);
    color: whitesmoke;
}
#eraser {
    margin-top: 150px;
}
